body {
  background: #292935;
  background-image: url(../photos/BACKGROUND.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-animation: backgroundScroll 90s linear 1;
          animation: backgroundScroll 90s linear 1;
  overflow: hidden;
  z-index: -25;
}

.wrapper {
  z-index: -15;
  text-align: center;
}

.wrapper .spaceProps .sat1 {
  position: relative;
  top: 1350px;
  -webkit-animation: sat1 19s linear 1;
          animation: sat1 19s linear 1;
}

.wrapper .spaceProps .sat1 img {
  width: 15vw;
}

.wrapper .spaceProps .sat2 {
  position: relative;
  top: 1350px;
  -webkit-animation: sat2 15s linear 25s 1;
          animation: sat2 15s linear 25s 1;
}

.wrapper .spaceProps .sat2 img {
  width: 15vw;
}

.wrapper .spaceProps .moon {
  position: relative;
  top: 1350px;
  -webkit-animation: moon 15s linear 35s 1;
          animation: moon 15s linear 35s 1;
}

.wrapper .spaceProps .moon img {
  width: 25vw;
}

.wrapper .spaceProps .mars {
  position: relative;
  top: 1350px;
  -webkit-animation: mars 15s 55s linear 1;
          animation: mars 15s 55s linear 1;
}

.wrapper .spaceProps .mars img {
  width: 35vw;
}

.wrapper .space {
  display: inline-block;
}

.wrapper .space #svg8 {
  position: fixed;
  width: 50vw;
  left: 25vw;
  bottom: -855px;
  -webkit-animation: Shuttle 90s linear 1;
          animation: Shuttle 90s linear 1;
}

#path4799 {
  -webkit-transform: translateX(1px);
          transform: translateX(1px);
}

@-webkit-keyframes backgroundScroll {
  from {
    background-position: 50% -9110px;
  }
  to {
    background-position: 50% 0px;
  }
}

@keyframes backgroundScroll {
  from {
    background-position: 50% -9110px;
  }
  to {
    background-position: 50% 0px;
  }
}

@-webkit-keyframes Shuttle {
  0% {
    bottom: -855px;
    left: 15vw;
  }
  50% {
    bottom: -800px;
    left: 45vw;
  }
  100% {
    bottom: -855px;
    left: 55px;
  }
}

@keyframes Shuttle {
  0% {
    bottom: -855px;
    left: 15vw;
  }
  50% {
    bottom: -800px;
    left: 45vw;
  }
  100% {
    bottom: -855px;
    left: 55px;
  }
}

@-webkit-keyframes sat1 {
  from {
    top: -200px;
  }
  to {
    -webkit-transform: rotate(45deg) translateX(180px);
            transform: rotate(45deg) translateX(180px);
    top: 1350px;
  }
}

@keyframes sat1 {
  from {
    top: -200px;
  }
  to {
    -webkit-transform: rotate(45deg) translateX(180px);
            transform: rotate(45deg) translateX(180px);
    top: 1350px;
  }
}

@-webkit-keyframes sat2 {
  from {
    top: -1200px;
  }
  to {
    -webkit-transform: rotate(-45deg) translateX(-80px);
            transform: rotate(-45deg) translateX(-80px);
    top: 1350px;
  }
}

@keyframes sat2 {
  from {
    top: -1200px;
  }
  to {
    -webkit-transform: rotate(-45deg) translateX(-80px);
            transform: rotate(-45deg) translateX(-80px);
    top: 1350px;
  }
}

@-webkit-keyframes moon {
  from {
    top: -1200px;
  }
  to {
    -webkit-transform: rotate(15deg) translateX(8px);
            transform: rotate(15deg) translateX(8px);
    top: 1350px;
  }
}

@keyframes moon {
  from {
    top: -1200px;
  }
  to {
    -webkit-transform: rotate(15deg) translateX(8px);
            transform: rotate(15deg) translateX(8px);
    top: 1350px;
  }
}

@-webkit-keyframes mars {
  from {
    top: -1200px;
  }
  to {
    -webkit-transform: rotate(15deg) translateX(8px);
            transform: rotate(15deg) translateX(8px);
    top: 1350px;
  }
}

@keyframes mars {
  from {
    top: -1200px;
  }
  to {
    -webkit-transform: rotate(15deg) translateX(8px);
            transform: rotate(15deg) translateX(8px);
    top: 1350px;
  }
}
