body {
  background: rgb(41, 41, 53);
  background-image: url(../photos/BACKGROUND.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  animation: backgroundScroll 90s linear 1;
  overflow: hidden;
  z-index: -25;
}

.wrapper {
  z-index: -15;

  text-align: center;

  .spaceProps {
    .sat1 {
      position: relative;
      top: 1350px;

      animation: sat1 19s linear 1;

      img {
        width: 15vw;
      }
    }

    .sat2 {
      position: relative;
      top: 1350px;

      animation: sat2 15s linear 25s 1;

      img {
        width: 15vw;
      }
    }

    .moon {
      position: relative;
      top: 1350px;

      animation: moon 15s linear 35s 1;

      img {
        width: 25vw;
      }
    }

    .mars {
      position: relative;
      top: 1350px;

      animation: mars 15s 55s linear 1;

      img {
        width: 35vw;
      }
    }
  }

  .space {
    display: inline-block;

    #svg8 {
      position: fixed;
      width: 50vw;
      left:25vw;
      bottom:-855px;
      animation: Shuttle 90s linear 1;
    }
  }
}

#path4799{
    transform: translateX(1px);

}

@keyframes backgroundScroll {
  from {
    background-position: 50% -9110px;
  }

  to {
    background-position: 50% 0px;
  }
}

@keyframes Shuttle {
  0% {
    bottom: -855px;
    left:15vw;

  }

  50% {
    bottom: -800px;
    left:45vw;

  }

  100% {
    bottom: -855px;
    left:55px;

  }
}

@keyframes sat1 {
  from {
    top: -200px;
  }

  to {
    transform: rotate(45deg) translateX(180px);

    top: 1350px;
  }
}

@keyframes sat2 {
  from {
    top: -1200px;
  }

  to {
    transform: rotate(-45deg) translateX(-80px);

    top: 1350px;
  }
}

@keyframes moon {
  from {
    top: -1200px;
  }

  to {
    transform: rotate(15deg) translateX(8px);

    top: 1350px;
  }
}

@keyframes mars {
  from {
    top: -1200px;
  }

  to {
    transform: rotate(15deg) translateX(8px);

    top: 1350px;
  }
}
